
body {
  margin: 0;
}
.box {
  display: flex;
  width: 100%;
}
.b1,
.b2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
}
.b1 {
  background-color: green;
}
.b2 {
  background-color: red;
}